In [3]:
#inputoutput
bil1 = input("isikan bilangan 1")
bil2 = input("isikan bilangan 2")
hasil = int(bil1) + int(bil2)
print("hasil dari",bil1,"+",bil2,"=", hasil)

isikan bilangan 149
isikan bilangan 222
hasil dari 49 + 22 = 71

In [1]:
#program menghitung luas dan keliling persegi panjang

panjang = input("masukan nilai panjang =")
lebar = input("masukan nilai lebar =")
luas = int(panjang)* int(lebar)
keliling = 2 * (int(panjang)+ int(lebar))
print("luas" , luas)
print("keliling" , keliling)

masukan nilai panjang =88
masukan nilai lebar =29
luas 2552
keliling 234

In [4]:
print("a" , "b" , "c" , "d", sep='\n' , end="^_^") #sep = separator / pembatas

a
b
c
d^_^

In [5]:
num_1 = 8
num_2 = 10

#hasil dari 8 modulus 10 = 8
#str.format()

print('hasil dari {} modulus {} = {}' .format(num_1,num_2,num_1%num_2))

hasil dari 8 modulus 10 = 8

In [9]:
fname = "ridwan"
mname = "skuy"
iname = "living"

print('nama anda {0} {1} {2}' .format(fname,mname,iname))

nama anda ridwan skuy living

In [10]:
print('nama anda {nama}, nilai anda {nilai}' .format(nama='andri' ,nilai=70))

nama anda andri, nilai anda 70

In [13]:
univ = "universitas nusa putra"

print("karakter pertama : ",univ[0])
print("karakter terakhir: ",univ[-1])
#universitas
print(univ[0:11])
print(univ[-5:])
print(univ[17:])
print(univ[::-1])

karakter pertama :  u
karakter terakhir:  a
universitas
putra
putra
artup asun satisrevinu

In [24]:
f_name = 'rudi'
l_name = 'andri'

print(f'nama saya {f_name} {l_name}')

first = 100
second = 20

print(f'hasil pemjumlahan {first} + {second} = {first+second}')

nama saya rudi andri
hasil pemjumlahan 100 + 20 = 120

In [ ]:
nama = "andri,budi,cika"
nama2 = "amdri budi cika"
print(nama2.split())
print(nama.split(','))

#join ->menggabungkan string kedalam kumpulanm karakter
print('@' .join(nama.split(',')))

#input tgl lahir-> 18/oktober/2010
#input nama -> bill gate
#output
#tgl : 18, bulan:, tahun :2010
#nama inisial :bg

tgl = input("masukan tanggal lahir : ")
nama = input("masukan nama : ")
pemisah = tgl.split("/")
print(f"tanggal {pemisah[0]}, bulan{pemisah[1]}, tahun{pemisah[2]}")
pemisah2 = nama.split()
nama_pertama = pemisah2[0]
nama_kedua = pemisah2[1]
print(f"nama inisial : {nama_pertama[0]+nama_kedua[0]}")